<!doctype html>
<html lang="en">
		  <head>
							<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Uwa App</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--fafa icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- styel.css-->
<link rel="stylesheet" href="/public/css/style.css">
<!--sript -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<style>
</style>

</head>
<!-- body -->
<body>
<!--header-->
<header>
	<nav class="navbar navbar-expand-lg navbar-light menu">
		<div class="container">
			<img src="/public/img/logo.png" alt="logo" class="img-fluid">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="home.html">HOME <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">ABOUT US</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">CONTACT US</a>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link" href="#">PRIVACY POLICY</a>
			  </li> -->
			  <li class="nav-item">
				<a class="nav-link" href="#">BLOG</a>
			  </li>
			  <li><span id="book"><a class="nav-item nav-link" href="#">DOWNLOAD NOW</a></span></li>
			</ul>
		  </div>			
		</div>
	</nav>
</header>