<div class="footer bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-4 like">
				<img src="/public/img/logo.png"  alt="company-logo" class="img-fluid"/>
				<p>Lorem Ipsum is simply dummy text of the 
				   printing and typesetting industry. Lorem 
				   Ipsum has been the industry's standard </p>
			</div>			
			<div class="col-md-5 links">
				<ul>
					<h5>LINKS</h5>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="contact.html">Privacy Policy</a></li>
				</ul>
			</div>												
			<div class="col-md-3 google">
				<h5>DOWNLOAD NOW</h5>
				<a href="https://play.google.com/store?hl=en_IN"><img src="/public/img/play_store.png" alt="google play" class="img-fluid">
				<a href="https://play.google.com/store?hl=en_IN"><img src="/public/img/app_store.png" alt="google play" class="img-fluid">
			</div>
		</div>
	</div>
		<div class="copy">
		<center><p>Copyright © 2020 like app</p><center></div>
</div>
</body>
</html>