<%- include('includes/head.ejs')%>

<div class="blog_banner">
	<div class="container">
		<h2>Our Blog</h2>
	</div>
</div>
<div class="blogs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 blogpage_1">
				<img src="public/img/blogpage_1.jpg" alt="image" class="img-fluid">
			</div>
			<div class="col-md-6 blogpage_text d-flex flex-wrap align-content-center">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h6>July 22,2020</h6>
			</div>
		</div>
	</div>
</div>
<!--blogs_2-->
<div class="blogs_2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 blogpage_text d-flex flex-wrap align-content-center">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h6>July 22,2020</h6>
			</div>
			<div class="col-md-6 blogpage_2">
				<img src="public/img/blogpage_2.jpg" alt="image" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<div class="blogs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 blogpage_3">
				<img src="public/img/blogpage_3.jpg" alt="image" class="img-fluid">
			</div>
			<div class="col-md-6 blogpage_text d-flex flex-wrap align-content-center">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<h6>July 22,2020</h6>
			</div>
		</div>
	</div>
</div>

<%- include('includes/tail.ejs')%>