<%- include('includes/head.ejs')%>

<div class="page_profile">
	<div class="container">
		<h2>My profile</h2>
	</div>
</div>

<div class="agency_info">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h3> MY AGENCY INFORMATION</h3>
				<p> Agency Registration form</p>
				<form action="/profilepost" method="POST">
				  <div class="form-group">
					<label for="formGroupExampleInput">Agency Owner Name</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Owner Name" name="ownername">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput2">Agency Name</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Agency Name"  name="agencyname">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput">Uwa Id</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Uwa Id" name="uwaid">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput2">Nationality</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nationality" name="country">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput">Identification Card No.</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="No." name="idcardnumber">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput2">Email Id</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email" name="email">
				  </div>
				  <div class="form-group">
					<label for="formGroupExampleInput2">Agency Mobile</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mobile" name='number'>
				  </div>
				  <div class="sign">
					  <label for="formGroupExampleInput2">Sign</label>
					  <input type="file" class="form-control-file" id="exampleFormControlFile1" name='signature'>
				  </div>
				  <button type="submit" class="btn btn-primary mb-2">Submit</button>
				  </form>
				
				</form>
			</div>
			<div class="col-md-5">
				<img src="/public/img/agency.jpg" alt="img" class="img-fluid">
			</div>
		</div>
	</div>
</div>

<%- include('includes/tail.ejs')%>